@import "../../../styles/variables.scss";

.custom-tooltip {
    background-color: $colorPrimary;
    color: white;
    height: 63px;
    width: 39px;
    font-size: 7px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }