@import "../../styles/variables.scss";

.container-graph__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    width: 70%;
    &__bottom {
        display: flex;
        justify-content: space-between;
        gap: 2rem;
        height: 45%;
        width: 100%;
        @media screen and (max-width: 1024px) {
            height: 30%;
        }
        > div {
            // flex: 0 0 33.333333%;
            // flex: 0 0 30%;
            width: 250px;
            height: 100%;
            border-radius: 5px;
            @media screen and (max-width: 1024px) {
                width: 180px;
            }
        }
    }
}