@import "../../styles/variables.scss";

.container-graph__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    width: 70%;
    &__up {
        width: 100%;
        height: 320px;
        background-color: $colorTertiary;
        &__text {
            padding: 1rem;
            display: flex;
            justify-content: space-between;
            div {
                display: flex;
                gap: 3rem;
                p {
                    display: flex;
                    align-items: center;
                    gap: 0.5rem; 
                }
            }
        }
        &__graph {
            ////////////////////Responsive graph ChartBar ?????
        }
    }
    &__bottom {
        display: flex;
        justify-content: space-between;
        gap: 2rem;
        height: 45%;
        width: 100%;
        &__line {
            background-color: $colorPrimary;
            position: relative;
            & p {
                width: 60%;
                position: absolute;
                top: 20px;
                left: 20px;
                color: white;
                opacity: 0.5;
            }
        }
        &__radar {
            background-color: #282D30;
        }
        &__pie {
            background-color: $colorTertiary;
            position: relative;
            & p {
                position: absolute;
            }
            &__title {
                top: 10px;
                left: 10px;
                font-family: Roboto;
                font-size: 15px;
                font-weight: 500;
                line-height: 24px;
                letter-spacing: 0px;
                @media screen and (max-width: 1024px) {
                    top: 0;
                    left: 0;
                }
            }
            &__goal {
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                display: flex;
                flex-direction: column;
                text-align: center;
                font-size: 16px;
                font-weight: 500;
                line-height: 26px;
                letter-spacing: 0px;
                @media screen and (max-width: 1024px) {
                    font-size: 12px;
                }
                & span {
                    font-size: 26px;
                    font-weight: 700;
                    line-height: 26px;
                    letter-spacing: 0px;
                    @media screen and (max-width: 1024px) {
                        font-size: 22px;
                    }
                }
            }
        }
        @media screen and (max-width: 1024px) {
            height: 30%;
        }
        div {
            // flex: 0 0 33.333333%;
            // flex: 0 0 30%;
            width: 250px;
            height: 100%;
            border-radius: 5px;
            @media screen and (max-width: 1024px) {
                width: 180px;
            }
        }
    }
}