@import "../../styles/variables.scss";

.container-graph__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
    &__bottom {
        display: flex;
        justify-content: space-between;
        height: 30%;
        width: 100%;
        > div {
            width: 30%;
            height: 100%;
            border-radius: 5px;
        }
    }
}