@import "../../../styles/variables.scss";

.custom-tooltip-line {
    // padding: 5px;
    // background-color: green;
    color: black;
    // width: 45px;
    // height: 20px;
    p {
        background-color: green;
        color: black;
    }
}