.container-graph__left__up {
        width: 100%;
        height: 320px;
        background-color: $colorTertiary;
        &__text {
            padding: 1rem;
            display: flex;
            justify-content: space-between;
            div {
                display: flex;
                gap: 3rem;
                p {
                    display: flex;
                    align-items: center;
                    gap: 0.5rem; 
                }
            }
        }
        &__graph {
            ////////////////////Responsive graph ChartBar ?????
        }
    }