@import "../../styles/variables.scss";

header {
    background-color: $colorSecondary;
    color: white;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 2rem;
        li {
            cursor: pointer;
            &:last-child{
                margin-right: 50px;
            }
            span {
                cursor: default;
                color: $colorPrimary;
                display: flex;
                align-items: center;
                svg {
                    margin-right: 0.5rem;
                }
            }
        }
    }
}