@import "../../styles/variables.scss";

.container {
display: flex;
height: 90vh;
    nav {
        background-color: $colorSecondary;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 10rem;
        width: 10%;
        ul {
            gap: 1rem;
            display: flex;
            flex-direction: column;
            li {
                cursor: pointer;
            }
        }
        p {
            transform: rotate(-90deg);
            white-space: nowrap;
            font-size: 12px;
            font-weight: 500;
            line-height: 24px;
            letter-spacing: 0px;
        }
    }
}