@import "../../styles/variables.scss";

.container-graph__right {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 2rem;
    width: 25%;
    div {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        background-color: $colorTertiary;
        width: 100%;
        height: 125px;
        border-radius: 5px;
        p {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            .measure {
                font-size: 20px;
                font-weight: 700;
                line-height: 24px;
                letter-spacing: 0px;
            }
            span {
                font-size: 14px;
                font-weight: 500;
                line-height: 24px;
                letter-spacing: 0px;
            }
        }
    }
}