@import 'styles/reset';
@import 'styles/base';
@import './components/Header';
@import './components/navbar';
@import './pages/Dashboard';
// @import 'styles/variables.scss'
@import './components/Charts/ChartBar';
@import './components/Charts/ChartLine';
@import './components/Charts/ChartPie';
@import './components/Charts/ChartRadar';